* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #dddfdf;
}
ul {
  list-style: none;
}
.container {
  margin-top: 5rem;
  height: 65vh;
  background-color: #d0c4df;
  border: 2px solid black;
  margin: 6.5rem 18rem;
  border-radius: 12px;
  border: 2px solid lightsteelblue;
}
.container .inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .inner-container .box-1,
.box-3 {
  border: 2px solid #c792df;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  padding: 1.2rem 2.5rem;
  gap: 1.5rem;
}
.container .inner-container .box-1 .content ul li {
  font-size: 1.15rem;
  margin-bottom: 0.65rem;
}
.container .inner-container .box-2 {
  width: 80px;
  height: 250px;
  flex-direction: column;
  gap: 1.5rem;
}

button {
  border: none;
  outline: none;
  background-color: #6c5ce7;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #a29bfe;
}
button:disabled {
  background-color: rgb(199, 199, 199);
  border-color: rgb(199, 199, 199);
  color: gray;
  box-shadow: none;
  transition: none;
  transform: none;
  cursor: not-allowed;
}

button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}
